<h3 matDialogTitle i18n>Changing password</h3>
<mat-dialog-content>
  <p i18n>In order to change your password enter current and new password below</p>
  <form class="account-dialog-form" [formGroup]="form">
    <mat-form-field class="account-dialog-field" subscriptSizing="dynamic">
      <mat-label i18n>Current password</mat-label>
      <input matInput type="password" formControlName="oldPassword" />
      <mat-error>{{ getErrorMessage(form, 'oldPassword') }}</mat-error>
    </mat-form-field>
    <mat-form-field class="account-dialog-field" subscriptSizing="dynamic">
      <mat-label i18n>New password</mat-label>
      <input matInput type="password" formControlName="newPassword" />
      <mat-error>{{ getErrorMessage(form, 'newPassword') }}</mat-error>
    </mat-form-field>
    <mat-form-field class="account-dialog-field" subscriptSizing="dynamic">
      <mat-label i18n>Repeat new password</mat-label>
      <input
        matInput
        type="password"
        formControlName="newPasswordRepeat"
        [errorStateMatcher]="repeatPasswordErrorStateMatcher" />
      <mat-error>{{ getPasswordRepeatErrorMessage(form, 'newPasswordRepeat') }}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="account-dialog-actions">
  <button mat-raised-button matDialogClose cdkFocusInitial i18n>Cancel</button>
  <button mat-raised-button [matDialogClose]="passwordChange" [disabled]="!form.valid" color="primary">
    <span i18n>Change password</span>
  </button>
</mat-dialog-actions>
