<div class="auth-container">
  <div class="login-content">
    <div class="login-header">
      <h1 i18n>Log In</h1>
      <span i18n>Don't have an account?</span>
      <span>
        <a mat-button color="primary" routerLink="/register" i18n>Register</a>
      </span>
    </div>
    <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <mat-label i18n>Username</mat-label>
        <input matInput formControlName="username" placeholder="Username" i18n-placeholder />
        <mat-error i18n>Username required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Password" i18n-placeholder />
        <mat-error i18n>Password required</mat-error>
      </mat-form-field>
      @if (loginFailed()) {
        <mat-error i18n>Wrong username or password</mat-error>
      }
      <button mat-fab extended color="primary" type="submit" i18n [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
