.navigation {
  overflow-x: auto;
  gap: 0.8rem;

  .menu-opener {
    &:focus-visible {
      outline: white solid 0.2rem;
    }

    all: unset;
    display: inherit;
    cursor: pointer;
  }

  .title {
    cursor: default;
    user-select: none;
    font-size: larger;
    font-weight: bold;
  }

  .separator {
    @extend .title;
    transform: translateY(-1px);
  }

  & > a {
    &:focus-visible {
      outline: white solid 0.2rem;
      outline-offset: 0.2rem;
    }

    all: unset;
    cursor: pointer;
  }

  .divider {
    margin: auto;
  }

  .avatar {
    all: unset;
    height: 80%;
    aspect-ratio: 1;
    border-radius: 50%;

    &:focus-visible {
      outline: white solid 0.2rem;
    }

    & > img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .active-route {
    font-size: larger;
  }
}
