.account-dialog {
  &-form {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
  }

  &-field {
    align-self: center;
    margin-top: 0.8rem;
    width: min(320px, 100%);

    mat-error {
      font-size: small;
      padding-bottom: 1rem;
    }
  }

  &-actions {
    gap: 0.8rem;

    > button {
      margin: 0;
    }
  }
}
