<main class="homepage">
  <header>
    <h1><span i18n>Welcome</span>, {{ user.username }}</h1>
  </header>
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2 i18n>Account</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content class="profile">
      <img
        class="profile-avatar"
        [src]="user.imageUrl ?? 'assets/no-avatar.png'"
        width="120"
        height="120"
        alt="profile image" />
      <div class="profile-details">
        <div>{{ user.firstName }} {{ user.lastName }}</div>
        <div class="profile-actions">
          <button [routerLink]="userAccountRoute" color="primary" mat-raised-button i18n>Settings</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2 i18n>Coins</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- TODO #34 -->
      <span>Coming soon</span>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2 i18n>Codes</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- TODO #35 -->
      <span>Coming soon</span>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2 i18n>Transactions history</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- TODO #29 -->
      <span>Coming soon</span>
    </mat-card-content>
  </mat-card>
</main>
